@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
* {
    font-family: 'Changa', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 24px;
}

.header {
    font-size: 48px;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 10px;
}
#myForm {
    display: none;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.submit-btn {
    width: 100%;
}

.book-btn {
    width: 12%;
}

.submit-btn, .book-btn {
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(174, 186, 240);
    box-shadow: 0px 2px 5px #000000;
}

.submit-btn:hover, .book-btn:hover, .read-button:hover {
    transform: scale(1.1);
    transition: transform .5s;
}

.submit-btn:active, .book-btn:active{
    background-color: rgb(94, 117, 223);
    transform: translateY(.2rem);
}

input:hover, input:focus {
    transform: scale(1.1);
    transition: transform .5s;
}

input {
    width: 100%;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 2px 5px #000000;
    height: 30px;
    font-size: 20px;
    padding: 5px;
}

.library {
    background-color: rgb(212, 205, 205);
    height: 100vh;
    width: 100vw;
    box-shadow: 0px 10px 20px #2c2b2b inset;
}

.read-book {
    display: flex;
    gap: 10px;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.books {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: auto;
    gap: 30px;
}

.book-grid {
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #000000;
    background-color: #ffffff75;
    padding: 10px;
    font-size: 24px;
}

.read-button {
    border-radius: 10px;
    font-size: 20px;
    border: none;
    box-shadow: 0px 2px 5px #000000;
    background-color: #e462629a;
}
